<remote-app key="<%= appkey %>" name="Rich's Ruby experiments" version="1" icon-url="http://www.atlassian.com/favicon.ico" display-url="<%= baseurl %>" access-level="user">
  <vendor name="Atlassian" url="http://atlassian.com" />
  <description>
    Rich's Ruby based Remote App experiments https://bitbucket.org/rmanalan/websequencediagrams-app-ruby
  </description>

  <oauth>
    <public-key>
      <%=publicKey%>
    </public-key>
  </oauth>
  <permissions>
    <permission scope="read_content" />
    <permission scope="modify_attachments" />
  </permissions>
  
  <macro key="web-sequence-diagram" name="Web Sequence Diagram" url="/macro" output-type="block" body-type="plain-text">
    <description>
      Web Sequence Diagrams macro in Ruby. Uses the http://www.websequencediagrams.com/ service to generate the images.
    </description>
    <category name="development" />
    <parameters>
      <parameter name="file" title="File name (without extension)" type="string"/>
      <parameter name="style" title="Style" type="enum" default="default">
        <value name="default" />
        <value name="earth" />
        <value name="modern-blue" />
        <value name="mscgen"/>
        <value name="vs2010" />
        <value name="omegapple"/>
        <value name="qsd" />
        <value name="rose"/>
        <value name="roundgreen"/>
        <value name="napkin" />
      </parameter>
      <parameter name="format" title="Image Format" type="enum" default="png">
        <value name="png"/>
        <value name="svg"/>
      </parameter>
    </parameters>
  </macro>
  <macro key="dump" name="Dump of remote request" url="/dump" output-type="inline" body-type="none">
    <description>
      Dump out the request made to the remote app
    </description>
    <category name="development" />
  </macro>
</remote-app>


